* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 16px;
}
.container {
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.container > .product-form {
    display: flex;
    justify-content: center;
}
.container > .product-dashboard {
    width: 100%;
    min-width: 50px;
    background-color: aliceblue;
}
.container > button {
    width: fit-content;
}
.checkout {
    width: 100%;
    height: fit-content;
    padding: 10px;
    background-color: antiquewhite;
}
.checkout > .display-product {
    width: 100%;
    min-height: 100px;
    background-color: aliceblue;
}
.item {
    display: flex;
    padding: 10px;
    gap: 8px;
    position: relative;
}
.item > img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.item > .item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.item > button {
    padding: 4px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(-50%, -50%);
}